*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 103, 103);
    font-family: Arial, Helvetica, sans-serif;
}
.material-symbols-outlined{
    font-size: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    gap: 1.5rem;
}

.username{
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(232, 232, 154);
    border: none;
    outline: none;
    cursor: pointer;
}

.password{
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(232, 232, 154);
    border: none;
    outline: none;
    cursor: pointer;
}

.link1{
    color: blue;
}

.loginbutton{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: ease-in;
}

.loginbutton:hover{
    background-color: rgb(29, 28, 28);
}
