*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
    background-color: rgb(176, 79, 79);
    color: white;
  }
  
  button{
    color: white;
    background-color: green;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in;
  }
  
  button:hover{
    background-color: rgb(47, 145, 47);
  }
  